<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

	<http>
		<intercept-url pattern="/welcome*" access="ROLE_USER" />
		<form-login default-target-url="/home" />
		<!-- Setting attribute always-use-default-target="true" will always redirect 
			to default-target-url after successful authentication -->
		<logout logout-success-url="/logout" />
	</http>

	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="user1" password="123456" authorities="ROLE_USER" />
				<user name="user2" password="user123" authorities="ROLE_USER" />
			</user-service>
		</authentication-provider>
	</authentication-manager>
</beans:beans>